<div>
    <form action="/users/register" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>

        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" required>

        <label for="user_name">User</label>
        <input type="text" id="user_name" name="user_name" required>

        <label for="password">Password</label>
        <input type="text" id="password" name="password" required>

        <button type="submit">Register</button>
    </form>
</div>